{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    {% load crispy_forms_tags %}
    <div class="container py-5">
      <h1>Record</h1>
      <form method="POST" action="{% url 'record' %}">
        {% csrf_token %}
        {{ record_form|crispy }}
        <br />
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    {% else %}
    <h2>Please <a href="{% url 'login' %}">login</a> first.</h2>
  {% endif %}
{% endblock %}
